.greething-border-top {
    width: 55%;
    margin-left: 44%;
    border: solid 4px #8ac6d1;
}
.greething-border-bottom {
    width: 55%;
    margin-right: 44%;
    border: solid 4px #8ac6d1;
}
.greething-text {
    margin: 130px 0;
    text-align: center;
}
.greething-text p {
    text-align: left;
    line-height: 1.5;
}


.about-group {
    height: 300px;
}
.about-flex {
    height: 150px;
    margin: 100px 80px;
    display: flex;
    flex-wrap: wrap;
}
.about-group-sec {
    margin-right: 50px;
    padding: 50px 20px;
    text-align: center;
    border-right: 1px solid #000;
}
.about-group-sec-ttl {
    font-size: x-large;
}
.about-group-sec:after{
    border-right: none;
}


@media screen and (max-width: 480px) {
    .greething {
        margin-bottom: 80px;
    }
    .greething-text {
        margin: 80px 0;
    }
    .greething-text p {
        font-size: 10px;
    }

    .about-group {
        height: 200px;
    }
    .about-flex {
        height: 50px;
        margin: 10px 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .about-group-sec {
        width: 40px;
        margin-right: 10px;
        padding: 20px 20px;
        text-align: center;
        border-right: 1px solid #000;
    }
    .about-group-sec-ttl {
        font-size: 6px;
    }
    .about-group-sec p{
        font-size: 2px;
    }
}