@charset "utf-8";

.first-view{
    height: 300px;
}
.first-view-ttl {
    font-size: x-large;
    margin: 30px 0;
}
.top-content {
    background-color: #8ac6d1;
    color: #fff;
    height: 300px;
}
.top-content-ttl,
.top-content-text {
    text-align: center;
    padding-top: 60px;
}
.top-content-ttl {
    font-size: x-large;
}

.news {
    height: 400px;
    margin-top: 100px;
}
.news-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.news-site {
    border-bottom: 1px solid rgb(92, 92, 92);
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.service {
    height: 1400px;
    margin-top: 80px;
}
.service-content {
    margin-top: 30px;
}
.flex-item {
    display: flex;
    justify-content: space-between;
}
.service-content-item {
    width: 100%;
}
.service-content-first-text {
    text-align: center;
    padding-top: 100px;
    background-color: #bbded6;
    color: #fff;
}
.service-content-first-text p{
    padding: 0 130px;
    text-align: left;
}
.service-content-first-ttl {
    color: #fff;
    line-height: 1.5;
    margin-bottom: 50px;
    font-size: x-large;
}
.service-content-second-text {
    text-align: center;
    padding-top: 100px;
    background-color: #8ac6d1;
    color: #fff;
}
.service-content-second-text p{
    padding: 0 130px;
    text-align: left;
}
.service-content-second-ttl {
    color: #fff;
    line-height: 1.5;
    padding-bottom: 50px;
    font-size: x-large;
}
.service-link {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #8ac6d1;
    background-color: #8ac6d1;
}
.service-link a{
    color: #fff;
    font-weight: bold;
}

.recruit {
    margin: 50px 0;
}
.recruit-flex {
    height: 500px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 200px;
}
.recruit-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
}
.recruit-content{
    width: 70%;
    height: 300px;
    position: absolute;
    top: 180px;
    left: 280px;
    float: right;
    padding: 40px 0;
    background-color: #8ac6d1;
    opacity: 0.8;
    text-align: center;
}
.recruit-content-ttl {
    font-size: 20px;
    padding: 50px 0px;
    text-align: center;
}

.recruit-group {
    width: 50%;
    height: 150px;
    padding-top: 50px;
    text-align: center;
    background-color: #bbded6;
}
.blue {
    background-color: #8ac6d1;
}
.recruit-group-text {
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .top-content-text {
        font-size: 10px;
    }

    .news-content {
        width: 70%;
    }
    .news-site {
        border-bottom: 1px solid rgb(92, 92, 92);
        margin-bottom: 50px;
        padding-bottom: 10px;
        font-size: 6px;
    }
    .service-content-item {
        width: 100%;
    }
    .service {
        height: 1300px;
    }
    .flex-item {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .service-content-first-text {
        padding: 60px 0;
    }
    .service-content-first-text p{
        padding: 0 80px;
        font-size: 8px;
    }
    .service-content-first-ttl {
        font-size: 15px;
    }
    .service-content-second-text {
        padding: 60px 0;
    }
    .service-content-second-text p{
        padding: 0 80px;
        font-size: 8px;
    }
    .service-content-second-ttl {
        font-size: 15px;
    }
    .service-link {
        width: 30%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px 30px;
    }
    .service-link a{
        font-size: 10px;
    }
    .order{
        order: -1;
    }

    .recruit {
        height: 900px;
    }
    .recruit-flex {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .recruit-img img{
        width: 100%;
    }
    .recruit-content {
        width: 100%;
        height: 230px;
        position: absolute;
        top: 250px;
        left: 0px;
    }
    .recruit-content-ttl {
        font-size: 13px;
        padding: 30px 0px;
    }
    .recruit-content p{
        font-size: 8px;
    }
    .recruit .flex-item{
        display: flex;
        justify-content: space-between;
    }
    .recruit-group-text {
        font-size: 20px;
    }
}