.philosophy {
    height: 1000px;
    text-align: center;
}
.philosophy-list {
    margin: 100px 20%;
}
.philosophy-ttl {
    padding-bottom: 30px;
    font-size: 60px;
    text-align: left;
}
.philosophy-sub-ttl {
    font-size: 30px;
    text-align: left;
}
.philosophy-text {
    padding: 20px 0;
    margin-left: 10%;
    font-size: large;
    text-align: left;
}
.philosophy-content {
    height: 200px;
    margin-top: 40px;
    text-align: center;
}
.philosophy-content-ttl {
    font-size: xx-large;
    padding-bottom: 40px;
}

.about-group {
    height: 300px;
}
.about-flex {
    height: 150px;
    margin: 100px 80px;
    display: flex;
    flex-wrap: wrap;
}
.about-group-sec {
    margin-right: 50px;
    padding: 50px 20px;
    text-align: center;
    border-right: 1px solid #000;
}
.about-group-sec-ttl {
    font-size: x-large;
}
.about-group-sec:after{
    border-right: none;
}