@charset "utf-8";

.second-view {
    height: 650px;
    margin-bottom: 100px;
    background-image: url(../img/4786984_s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.second-view-text {
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
}
.recruit-type {
    height: 150px;
    margin: 100px 210px;
    display: flex;
    justify-content: space-between;
}
.recruit-type-first {
    height: 65px;
    width: 40%;
    padding: 20px 0;
    background-color: #4fafb1af;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.recruit-type-second {
    height: 65px;
    width: 40%;
    padding: 20px 0;
    background-color: #cce4f1;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.recruit-type-first a,
.recruit-type-second a{
    color: #fff;
}

.recruit-content-first {
    height: 1500px;
    background-color: #4fafb1af;
    text-align: center;
    color: #fff;
}
.recruit-content {
    padding: 50px 0;
}
.recruit-content-ttl {
    padding-bottom: 20px;
    font-size: xxx-large;
}
.recruit-content-sub-ttl {
    font-size: xx-large;
    padding-top: 30px;
}
.recruit-content-text {
    padding: 50px 0;
    text-align: left;
    margin: 0 120px;
}
.recuit-lnformation {
    padding: 50px 20px 50px 30px;
    background-color: #fff;
    color: #000;
    text-align: left;
}
.recuit-lnformation-ttl {
    font-size: xx-large;
    padding-bottom: 30px;
}
.recuit-table td {
    padding:  20px 0 20px 10px;
}
.designer {
    border-bottom: 3px solid #4fafb1af;
}
.engineer {
    padding-top: 50px;
}

.recruit-content-second {
    background-color: #cce4f1;
    color: #fff;
    height: 1500px;
    text-align: center;
}
.director {
    border-bottom: 3px solid #cce4f1
}

.recruit-group {
    height: 300px;
}
.recruit-flex {
    height: 150px;
    margin: 150px 200px;
    display: flex;
    flex-wrap: wrap;
}
.recruit-group-sec {
    margin-right: 80px;
    padding: 50px 30px;
    text-align: center;
    border-right: 1px solid #000;
}
.recruit-group-sec:after{
    border-right: none;
}
.recruit-group-sec-ttl {
    font-size: x-large;
}
